<%- include('partials/header') %>

<h1>All Blog Posts</h1>

<% if (posts.length === 0) { %>
  <p>No posts available yet.</p>
<% } else { %>
  <ul>
    <% posts.forEach(post => { %>
      <li>
        <a href="/posts/<%= post.id %>"><%= post.title %></a> by <%= post.author %>
      </li>
    <% }) %>
  </ul>
<% } %>

<%- include('partials/footer') %>